.language {
  align-items: center;
  display: inline-flex;
  }
  .color-red{
      color:red;
    }
     
    .custom-control {
      position: relative;
      display: block;
      min-height: 1.5rem;
      padding-left: 1.5rem !important;
    }
    .table thead th {
      border-bottom: 1px solid #e2e5e8;
      font-size: 14px;
      color: #37474f;
      background-color: #f6f6f6;
      text-transform: none !important; 
    }
    .remove-th
    {
      padding-left: 0px !important;
    }
    .table td, .table th {
      border-top: 1px solid #e2e5e8;
      white-space: nowrap;
      padding: 0.3rem 0.75rem !important; 
    }
    .th-5{
      width: 5% !important;
    }
    .th-10{
      width: 10% !important;
    }
    .th-15{
      width: 15% !important;
    }
    .th-20{
      width: 20% !important;
    }
    .th-25{
      width: 25% !important;
    }
    .funtion{
      margin-bottom: 1em !important;
    }
  
    .breadcrumb {
      padding: 0rem 0rem !important; 
    
    }
    .showentries{
      margin: 0px 5px !important;
    }
    .card-header {
      padding: 0.75% !important;
    }
    .btn-master{
        margin-right: 0.2rem;
    }
  
  // .flag{
  //     position: relative;
  //     display: inline-block;
  //     cursor: pointer;
  //     margin-right: 5px;
  //     box-sizing: border-box;
  // }
  // .activeFlag {
  //     border: 1px solid #1abc9c;
  
  // }
  // .imgFlag{
  //     vertical-align: middle;
  //     border-style: none;
  // }
  // .page-size{
  //     width: 150px;
  // }
  
  // Phần Hiếu bổ sung
  .page-link {
    padding: 0.3rem 0.6rem !important;
    color: #1abc9c;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: none;
  }
  .page-item .page-link {
    border-radius: 0px !important;
    margin: 0 1px !important;
  }
  p {
    margin-top: 0;
    margin-bottom: 0rem !important;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0.5rem !important; 
  }
  .table td, .table th {
    padding: 0rem 0.75rem !important;
  }
  .page-header {
    margin-bottom: 10px !important;
  }
  .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem !important;
    padding-top: 0.5rem !important;
  }
  .card {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    border-top: 0px solid #8CDDCD !important;
  }
  .tbl-master thead th{
      vertical-align: middle !important;
      color:#10171b !important;
      background-color: #c2c2c2 !important;
      height: 2.5rem ;
      font-size: 13px !important;
      // border: 1px solid;
  }
  // Hết
  .tbl-master tbody td {
      height: 2.5rem ;
      // font-size: 14 !important;
  
  }
  table td, .table th { 
    
      cursor: pointer;
      // padding: 0.3rem 0.5rem !important;
      vertical-align: middle !important;
  
  }
  .table-body{
      padding: 0 20px 20px 20px;
  }
  
  .card-master{
      border-top: unset !important;
      margin-bottom: 0 !important;
      box-shadow: unset !important;
  
  }
  .page-size{
      margin-right: 1rem;
  }
  .tbl-master tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
  // .table-striped tbody tr:nth-of-type(2n+1){
  //     background-color: rgba(0, 0, 0, 0.05);
  // }
  
  .page-link{
    
      padding: .5rem .75rem;
      color: #1abc9c ;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: none ;
  }
  .page-item  {
      .page-link{
       border-radius: 0px !important;
       margin: 0 5px;
      }
      
   }
  
  .field-search{
    
      padding: 15px;
      border: 2px solid rgba(0, 0, 0, 0.25);
      
  }
  .title-field-search{
      margin-top:-10px;
      margin-left:5px;
      background:white;
  }
  legend.scheduler-border {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    cursor: pointer;
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border-radius: 2px;
  }
  fieldset.scheduler-border {
       
      padding: 10px 20px 0 20px !important;
      margin: 0 0 1em 0 !important;
      border-radius: 2px;
      background-color: #fff;
      -webkit-box-shadow:  0px 0px 0px 0px #000;
              box-shadow:  0px 0px 0px 0px #000;
              
      
  }
  legend{
      font-size: 1rem;
  }
  .text-panigator{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
  }
  .top-page-size{
      display: inline-flex;
      // margin-bottom: unset !important;
  }
  // select{
  //     margin-right: 1em;
  // }
  #main-logo{
      width: 120px;
      height: 30px;
  }
  // .action{
  //     margin-bottom: 1em;
  // }
  .checkbox-center{
      width: 0.5%;
      margin-bottom: unset !important;
  }
  .erros{
      color: red;
  }
  .panigator-responsive{
      padding: 5px 20px 0 20px;
   }
   .search-body{
     padding: unset !important;
   }
   .input-group-text{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.625rem 1.1875rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
     background-color:unset;
    border: unset; 
    border-radius: 0;
  }
  @media screen and (max-width: 768px) {
      .panigator-responsive{
  
          display: flex;
          justify-content: center !important;
  
          flex-wrap: wrap;
      }
      .top-page-size{
          width: 100%;
          margin-bottom: 1rem;
          justify-content: center ;
  
          .text-panigator{
              margin: 0 1rem 0 0;
  
          }
      }
  }
  